aiofiles==25.1.0
aiogram==3.23.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.12.0
attrs==25.4.0
certifi==2025.11.12
contourpy==1.2.0
cycler==0.12.1
dotenv==0.9.9
fonttools==4.47.0
frozenlist==1.8.0
gigachat==0.1.43
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
kiwisolver==1.4.5
magic-filter==1.0.12
matplotlib==3.8.2
multidict==6.7.0
numpy==1.26.2
packaging==23.2
pandas==2.1.4
Pillow==10.1.0
propcache==0.4.1
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.2.1
pytz==2023.3.post1
seaborn==0.13.0
six==1.16.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2023.3
yarl==1.22.0
